<div class="jumbotron">
<h1>About Blocmarks</h1>
<p>Blocmarks woohoo

</div>
 <div class="row">
  <div class="col-sm-6 col-md-4">
 
    <h2>What is BlocMarks?</h2>
    <p>You can use this website to store and curate links from the interwebs for later reference. Create a topic to your liking.</p>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <h2>What's next</h2>
    <p>Add urls to the topic you created. You will then see an image taken from the webpage that you just posted. Find all your posts on your "My Blocmarks" page.</p>
  </div>
  
    <h2>Nice!</h2>
    <p>Cool right, you can even 'like' the posts on this website. And if you are fed up with your own posts, you can delete them again.</p>
  </div>
</div>
<p>