@import "bootstrap-custom" ;
@import "bootstrap" ;
@import "*.scss";

.nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-info {
  margin-top: 9px;
}


.row {
  padding: 0 15px;
  margin: 0 -15px;
}
